/* Переопределяем стили для ExclusiveGateway */

.red {
    background-color: #dc6f8e;
    /* или другие стили, например, цвет иконки */

}
.yellow {
    background-color: #ffffbf;

}
.orange {
    background-color: #f46d43;
  
    /* color: rgb(255, 255, 255); */
}
.white {
    background-color: #3288bd;
   
    /* color: black; */
}
.green {
    background-color: #abdda4;
 
    /* color: black; */
}
.white-green{
    background-color: #39ed39;
    
}
.white-green2{
    background-color: #c145ee;
    
}
.blue{
    background-color: #30b0e0;
}
.dark-green{
    background-color: #e0ac69;
}
.grey{
 background-color: #d2d2cb;
}